.recommended-flex {
    display: flex;
    margin-left: 20rem;

  }
  
  .recommended-title {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
  Button {
    border-radius: 10px;
    transition: box-shadow 0.3s ease; 
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
  }
  Button:hover {
    text-decoration: dashed;
  }